body{
	margin:0;
	padding:0;
}
/*pantalla splash*/
#init-lift{
	background-image: url(../../assets/img/IMG-20171212-WA0035.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 70% 0;
}
/*pantalla inicial*/
.login{
	background-image: url(../../assets/img/img-auto.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 65% 0;
	opacity: 0.6;
}
.signUp{
  width: 10%;
  margin-top: 10%;
}
.whitelogo{
	width: 20%;
  margin-top: 10%;
}
.purpleLogo{
  width: 10%;
  margin-top: 40%;
}

.buttons{
  margin-top: 40%;
  margin-bottom: 20%;
}